@use "sass:color";

$border1-size: 1000px;
$border2-size: 1000px;

$header-bg: #bd8b5a;
$nav-bg: #bc936a;
$text-color: #5e3e1a;
$accent: #7b6149;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: url('../images/background.png') no-repeat center/cover;
	color: $text-color;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: linear-gradient(to top, #ea7152, #d3976a);
		padding: 5px 25px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

		#logo {
			height: 50px;
		}

		nav {
			display: flex;
			gap: 1.5rem;

			a {
				color: white;
				text-decoration: none;
                font: 0.8rem sans-serif;;
				font-weight: 500;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	main {
        width: 100%;
        height: 100%;
		flex: 1;
		display: flex;
		align-items: stretch;
		justify-content: center;
		position: relative;
		overflow: hidden;

		// borders
		&::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: $border1-size;
            height: $border1-size;
            background: url('../images/border_BL.png') no-repeat bottom left;
            background-size: contain;
        }

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: $border2-size;
			height: $border2-size;
			background: url('../images/border_UR.png') no-repeat;
			background-size: contain;
		}

		#hero {
            width: 100%;
            height: 100%;
			display: flex;
			align-items: stretch;
			justify-content: center;
			.hero-content {

				display: flex;
				align-items: stretch;
				justify-content: center;
				width: 100%;
                height: 100%;

                .hero-left {
                    flex: 1;
                    min-width: 400px;
                    img {
                        position: absolute;
                        top: 15px;
                        left: 55px;
                        height: 200%;
                    }
                    #btn-placeholder{
                        position: relative;
                        top: 60vh;
                        width: 50vw;
                        height: 15vh;
                        a {
                            background-color: $accent;
                            padding: 10px 40px;
                            border-radius: 5px;
                            text-decoration: none;
                            color: #ffe5b7;
                            text-align: center;

                            position: relative;
                            padding-left: 33vw;
                            z-index: 1;

                            &:hover {
                                background-color: #b08054;
                            }
                        }
                    }
                }

                .hero-right {
                    flex: 1;
                    h4 {
                        color: #D44;
                        position: absolute;
                        top: 21vh;
                        left: 42vw;
                    }
                    img {
                        display: flex;
                        position: relative;
                        padding-left: 60px;
                        padding-top: 5vh;
                        height: 95%;
                    }
                }

            }
        }
        #products-list {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            gap: 12px;
            padding: 12px 48px;
            .img-holder {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70%;
                width: 100%;
            }
            .product-card {
                display: flex;
                background: linear-gradient(to top, #ffca95, #ffe5b7);
                opacity: 0.85;
                height: 200px;
                width: 150px;
                align-items: center;
                flex-direction: column;
                border-radius: 5px;
                padding: 12px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            &:hover .product-card {
                opacity: 1;
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
